%%% Root rebar.config for hecate-app-weatherd
{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    %% Macula mesh client (provides macula_relay_client)
    {macula, "0.48.6"}
]}.

{relx, [
    {release, {hecate_app_weatherd, "0.1.0"}, [
        hecate_app_weatherd,
        macula,
        inets,
        ssl,
        sasl
    ]},

    {mode, dev},
    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{dialyzer, [
    {warnings, []}
]}.
